
<section class="site-section">
	<div class="container">
		<div class="col-lg-8 offset-lg-2 col-sm-12">
			
			<p><img class="img-fluid" src="../assets/pages/arabe_adulte.svg" alt="Image placeholder"></p>
			
			<h3>Langue arabe enfants</h3>
			<p>L’éducation et l’instruction de nos enfants sont pour nous tous une priorité, voire un devoir que nous devons assumer.
				Dans ce cadre, l’Institut LA VERTU met à votre disposition une structure moderne et compétente dont l’objectif est d’acquérir des bases essentielles de  la langue arabe (lecture, écriture et expression).
			</p>
			<p class="mb-1">Nous proposons également à vos enfants des cours d’éducation islamique permettant à l’enfant d’apprendre :</p>
			<ul class="mb-4">
				<li>Le Coran et les invocations prophétiques.</li>
				<li>Les bases de la jurisprudence islamique : description des ablutions, de la prière, apprentissage des sourates à réciter lors de la prière ( Al Fatiha, Al Ikhlas, At Tachahoud, etc…)</li>				
				<li>Découverte des cinq piliers de l’islam et des six piliers de la foi.</li>
			</ul>
			<p class="mb-2">Pour réaliser ces objectifs, l’institut LA VERTU met en place les moyens suivants :</p>		
				<p class="mb-2">1) Une équipe d’enseignants spécialisés et qualiﬁés dans l’enseignement de la langue arabe et de l’éducation musulmane ;</p>
				<p class="mb-2">2) Des méthodes pédagogiques personnalisées ;</p>				
				<p class="mb-2">3) Un programme riche et diversiﬁé ;</p>
				<p class="mb-2">4) Des locaux spacieux, lumineux, et surtout adaptés à l’accueil des jeunes enfants avec des équipements ludiques et du mobilier fonctionnel et sécurisé.</p>
				<p class="mb-2">5) Cours de consolidation en semaine ;</p>
				<p class="mb-2">6) Activités culturelles et sorties éducatives.</p>
			
			
			<h3>Modalités d’inscription</h3>
			<p class="mb-1">L’inscription est déﬁnitive lorsque le dossier est complet :</p>
			<ul>
				<li>Avoir 4 ans et plus.</li>
				<li>Fiche d’inscription dUment remplie et signée (Cliquer sur ce lien)</li>				
				<li>Une photo d’identité récente de l’élève.</li>
				<li>2 enveloppes timbrées sans le libellé (format A5)</li>
				<li>Une attestation d’assurance responsabilité civile</li>
				<li>S’acquitter des frais de scolarité (possibilité de payement en trois fois)</li>
				<li>Acheter les livres qui serviront à l’enseignement.</li>
			</ul>

			<h3>Pré requis</h3>
			<p>Une évaluation est prévue lors de l’inscription aﬁn de déﬁnir le niveau de l’élève</p>
			
			<h3>Les niveaux langue arabe enfants</h3>
			<p class="mb-1">Six niveaux sont proposés :</p>
			<ul>
				<li>SESSION MA TERNELLE</li>
				<li>NIVEAU PREPARATOIRE</li>				
				<li>NIVEAU 1</li>
				<li>NIVEAU 2</li>
				<li>NIVEAU 3</li>
				<li>NIVEAU 4</li>
			</ul>
						
			<h3>Créneaux horaires proposés</h3>
			<p>Chaque <strong>Samedi</strong> et <strong>dimanche</strong> de <strong>09h</strong> à <strong>12h</strong> ou de <strong>13h</strong> à <strong>16h</strong></p>
			
			<h3>Tarifs</h3>
			<p><strong>220 euros /an</strong> (Possibilité de payement en trois fois)</p>
			
			<h3>Comment dois-je m’inscrire</h3>
			<p>Votre décision est prise. Alors, dès aujourd’hui, remplissez la demande d’inscription (document à télécharger).<br/>
				Vous hésitez à prendre une décision. Rien de plus simple, Il vous sufﬁt juste de nous écrire ou de nous téléphoner pour avoir plus d’informations.
			</p>
			

			
		</div>
		<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-12 p-4">
			<a class="btn btn-success mx-auto d-block" data-target="#mymodal" data-toggle="modal">Je m'inscris</a>
		</div> 
	</div>


</section>