.site-footer
{
  background-color:#f0f0f0;
  margin-top: 150px;
  padding:65px 0 60px;
  font-size:15px;
  line-height:24px;
}
.site-footer img{
 position: relative;
 top:0;
 left:50%;
 right: 0;
 bottom: O;
 margin:0 -70px 0;
 max-width: 140px;
}

.site-footer h5 {
  font-size:18px;
  text-transform:capitalize;
  margin-top:5px;
  letter-spacing:1px;
}
.footer_h a{
  color:#777977;
  font-size:15px !important;
}

.footer_h p i{
margin-right:5px;
}

.site-footer .footer-links a
{
  color:#777977;
  font-size:15px !important;
  line-height:1.8rem !important;
}
.site-footer .footer-links a:hover
{
  color: #007bff;
  text-decoration:none;
}
.btn-light{
 color: #007bff;
 /*background:#efefef;*/
 font-family:'Cera Pro Medium';
} 

.fa-phone , .fa-at , .fa-map-marker{
	font-size:20px;
	 color: #007bff;
}
.social-media-rounded .fa {
  padding: 13px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 15px 2px;
  border-radius: 50%;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.125);
  border: 1px solid rgba(212, 212, 212, 0.2);
 
}
.social-media-rounded .fa:hover {
background:#efefef;
}

.fa-facebook , .fa-twitter, .fa-instagram{
  background: #ffffff;
  color: #007bff;
}

.input-group .input{
	width:100%;
}


