<!--  footer
  -----------------------------------------------------------------------
 -->
 <footer class="site-footer">
	<div class="container">
		<div class="row">
		
			<div class="col-lg-5 col-md-5 col-sm-12 mx-auto mb-4">
				<div class="footer_h">
					<img src="../assets/logo/logo_footer.svg">
					<p class="text-justify ">L'institut <span>la vertu</span> est une association muslmane à but non lucratif crée en janvier 2019 et basé à Nantes. c'est un institut spécialisé dans l'enseignement de la langue arabe litérarie, de la mémorisation et la récitation du Coran anisi que des sciences islamiques </p>
					<p><i class="fa fa-phone" ></i>  Phone: 333 12 68 347</p>
					<p><i class="fa fa-at" ></i>  Email: <a href="mailto:hello@domain.com">hello@domain.com</a></p>
					<p><i class="fa fa-map-marker"></i>  9 Avenu du marché commune nantes</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6 ">
				<h5>Cours de Coran</h5>
				<hr class=" mb-2 mt-0 d-inline-block mx-auto" style="width: 140px;">

				<ul class="footer-links">
					<li><a href="">exemple de lien</a></li>
					<li><a href="">exemple de lien</a></li>
					<li><a href="">exemple de lien</a></li>
					<li><a href="">exemple de lien</a></li>
				</ul>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-6 ">
				<h5>Newsletter</h5>
				<hr class=" mb-2 mt-0 d-inline-block mx-auto" style="width: 90px;">

		
			<div class="footer_letter">
					<p>lorem ipsum dolor sit amet</p>
		
				<div class="input-group mb-3 flex-nowrap">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">@</span>
					</div>					
					<input type="text" class="form-control" placeholder="email@lavertu.com" aria-label="Username" aria-describedby="basic-addon1">
				</div>				
			</div>
  
				<div class="mb-2 btn_en">
					<button class="btn btn-md btn-light" role="button" href="#" >Envoyer</button> 
				</div>
	  
		<div class="social-media-rounded">
				<a href="#"><i class="fa fa-facebook "></i></a>
				<a href="#"><i class="fa fa-twitter "> </i></a>
				<a href="#"><i class="fa fa-instagram "> </i></a>
		</div>			
		
		<div class="mb-2">
			<a class="btn btn-md btn-success mx-auto d-block" routerLink="/faire-don" role="button">Faire un don</a>
		</div> 
				


    </div>
    <hr>
  </div>
</div>
</footer>
