
<div #basicModal [style.display]="showModal ? 'block' : 'none'" class="modal" id="mymodal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog " >
		<div class="modal-content">
			<div class="modal-body">

				<div  class="signup-form">						
					<form  [formGroup]="inscriptionForm" (ngSubmit)="onSubmit1() ;addValidators()" >					
						<h2>Inscription</h2>
						<p class="hint-text">Vous pouvez <a data-toggle="modal" data-target="#mymodal2">télecharger le formulaire d'inscription</a> et l'envoyer ou remplire ce formulaire</p>
						
						<div *ngFor="let item of Radio_List ;let i=index" >
							<input type="radio" [value]="item.value" [checked]="item.checked" formControlName="selectedOptions" >
							<label>{{item.name}}</label>
						</div>
						<span class="error-msg" *ngIf="iSubmitted && f['selectedOptions'].errors?.required">
							sélectionner n'importe quelle option ci-dessus!
						</span>
					
						<h4>Identité</h4>
						<div class="form-group">
								<div class="row">
									<div class="col"><input type="text" formControlName="firstname" class="form-control" name="firstname" placeholder="Nom" [ngClass]="{ 'is-invalid': iSubmitted && f.firstname.errors }"/>
									                 <div *ngIf="iSubmitted && f.firstname.errors" class="invalid-feedback">
															<div *ngIf="f.firstname.errors.required">Nom obligatoire</div>
													 </div>
									</div>
									
									<div class="col"><input type="text" class="form-control" formControlName="lastname" placeholder="Prenom" [ngClass]="{ 'is-invalid': iSubmitted && f.lastname.errors }" />
									                 <div *ngIf="iSubmitted && f.lastname.errors" class="invalid-feedback">
															<div *ngIf="f.lastname.errors.required">Prénom obligatoire</div>
													 </div>
									</div>			
								</div>								
							</div>	
							
							<div class="form-group">
								<input type="email" class="form-control"  formControlName="email" placeholder="Email"
								 [ngClass]="{ 'is-invalid': iSubmitted && f.email.errors }" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" />
								<div *ngIf="iSubmitted && f.email.errors" class="invalid-feedback" >
                                    <div *ngIf="f.email.errors.required">Email obligatoire</div>
                                    <div *ngIf="f.email.errors.email">Email doit être une adresse valide</div>
                                 </div>
							</div>
							
							<div class="form-group">
								<input type="tel" class="form-control" formControlName="mobile" placeholder="Numéro de téléphone" [ngClass]="{ 'is-invalid': iSubmitted && f.mobile.errors }" />
								<div *ngIf="iSubmitted && f.mobile.errors" class="invalid-feedback">
									<div *ngIf="f.mobile.errors">Le Numéro de teléphone obligatoire</div>									
                                </div>
							</div>
							<!-- >npm install jquery-datepicker
							npm install jquery-ui
							npm install jquery jquery-ui
							npm install angularjs-bootstrap-datetimepicker
							wbn-datepicker
						-->
							 <div class="form-group">
								<div class="row">
									<div class="col-md-6 col-sm-8">
										<input class=" form-control " type="text" placeholder="Date de naissance" id="date" formControlName="date" 
										[ngClass]="{ 'is-invalid': iSubmitted && f.date.errors }" 
										bsDatepicker placement="top" #dp="bsDatepicker" [maxDate]="maxDate"
										[bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' , showWeekNumbers:false, containerClass: 'theme-green' }" 
										triggers='' (focus)='dp.show()'/>																				
										<div *ngIf="iSubmitted && f.date.errors" class="invalid-feedback">
												<div *ngIf="f.date.errors.required">Date obligatoire</div>
										</div>
									</div>
								</div>	
							</div> 
				
							<div class="form-group">
								<div class="row">
									<div class="col-6">
										<button type="reset" class="btn btn-outline-success btn-block"  data-dismiss="modal" (click) ="removeValidators();onReset()" >Annuler</button>
									</div>
									<div class="col-6">
									  <button type="submit" (click)="onSave()" class="btn btn-success btn-md btn-block" id="btn">Suivant</button>

									</div>							
								</div>
							</div>													
					</form>
				</div>
			</div>			
		</div>
	</div>
</div>	


<div [style.display]="showModal ? 'block' : 'none'" class="modal" id="mymodal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"   >
		<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
					
				<div class="signup-form">
					<form  [formGroup]="formulaireForm" (ngSubmit)="onSubmit2();addValidators2()">					
						<h2 class="mb-3">Formulaire d'inscription</h2>
						<h4 class="mb-3" style="color: green">Adresse</h4>

							<div class="form-group">
								<div class="row">
									<div class="col">
										<input class="form-control" type="text" formControlName="adress"  name="adress" placeholder="Adresse" [ngClass]="{ 'is-invalid': fSubmitted && ff.adress.errors }" />
										<div *ngIf="fSubmitted && ff.adress.errors" class="invalid-feedback">
												<div *ngIf="ff.adress.errors.required">Adresse obligatoire</div>
										</div>
									</div>			
								</div>								
							</div>	
									
							<div class="form-group">
								<div class="row">
									<div class="col-6">
										<input class="form-control"  type="text" formControlName="city" placeholder="Ville"  [ngClass]="{ 'is-invalid': fSubmitted && ff.city.errors }" />
										<div *ngIf="fSubmitted && ff.city.errors" class="invalid-feedback">
												<div *ngIf="ff.city.errors.required">Ville obligatoire</div>
										</div>
                                    </div>
                                    
                                    <div class="col-6">
										<input class="form-control" type="text" formControlName="postal_code" placeholder="Code postale" id="postal_code" formControlName="postal_code" [ngClass]="{ 'is-invalid': fSubmitted && ff.postal_code.errors }" />
										<div *ngIf="fSubmitted && ff.postal_code.errors" class="invalid-feedback">
												<div *ngIf="ff.postal_code.errors.required">code postale obligatoire</div>
										</div>
									</div>
								</div>	
                            </div>
                            
                            <div class="form-group">
								<div class="row">
									<div class="col-6">
										<button type="reset" class="btn btn-outline-success btn-block"  data-dismiss="modal" (click) = "removeValidators();onReset()">Annuler</button>
									</div>
									<div class="col-6">
									  <button type="submit" class="btn btn-success btn-md btn-block">Envoyer</button>

									</div>							
								</div>
							</div>
																		
					</form>

				</div>
			</div>			
		</div>
	</div>
</div>	



