
<div #modaled class="modal" id="mymodal" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
					
				<div class="signup-form">
					<form  [formGroup]="registerForm" (ngSubmit)="onSubmit()">					
						<h2>Inscription</h2>
						<p class="hint-text">Vous pouvez <a>télecharger le formulaire d'inscription</a> et l'envoyer ou remplire ce formulaire</p>
						
						<div *ngFor="let item of Radio_List ;let i=index" >
							
							<input type="radio" [value]="item.value" [checked]="item.checked" formControlName="selectedOptions">
							<label>{{item.name}}</label>

						</div>

						<span class="error-msg" *ngIf="submitted && registerForm.controls['selectedOptions'].errors?.required">
								Please select any option above!
						</span>

						<h4>Identité</h4>
							<div class="form-group">
								<div class="row">
									<div class="col"><input type="text" formControlName="firstname" class="form-control" name="firstname" placeholder="Nom" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />
									                 <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
															<div *ngIf="f.firstname.errors.required">FirstName is required</div>
													 </div>
									</div>
									
									<div class="col"><input type="text" class="form-control" formControlName="lastname" placeholder="Prenom" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
									                 <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
															<div *ngIf="f.lastname.errors.required">lastname is required</div>
													 </div>
									</div>			
								</div>								
							</div>	
							
							<div class="form-group">
								<input type="email" class="form-control"  formControlName="email" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
								<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                 </div>
							</div>
							
							<div class="form-group">
								<input type="tel" class="form-control" formControlName="mobile" placeholder="Numéro de téléphone" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
								<div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
									<div *ngIf="f.mobile.errors">Mobile must be Valid and at least 10 digits</div>      
                                </div>
							</div>
							
							<div class="form-group">
								<div class="row">
									<div class="col-6">
										<input placeholder="Date de naissance " type="text" onMouseOver="(this.type='date')" onMouseOut="(this.type='text')"  id="date" class="form-control" formControlName="date" [ngClass]="{ 'is-invalid': submitted && f.date.errors }" />
										<div *ngIf="submitted && f.date.errors" class="invalid-feedback">
												<div *ngIf="f.date.errors.required">date is required</div>
										</div>
									</div>
								</div>	
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-6">
										<button type="button" class="btn btn-outline-success btn-block" routerLink="/">Annuler</button>
									</div>
									<div class="col-6">
									  <button type="submit" class="btn btn-success btn-md btn-block">Suivant</button>

									</div>							
								</div>
							</div>													
					</form>

				</div>
			</div>			
		</div>
	</div>
</div>	

