@font-face{
	font-family:'Cera Pro Regular';
	src: url('../assets/fonts/Cera Pro Regular.otf');	
	font-display: block;

}
@font-face{
	
	font-family:'Cera Pro Bold';
	src: url('../assets/fonts/Cera Pro Bold.otf');
	font-display: block;

}
@font-face{
	
	
	font-family:'Cera Pro Light';
	src: url('../assets/fonts/Cera Pro Light.otf');
	font-display: block;

}
@font-face{
	
	font-family:'Cera Pro Medium';
	src: url('../assets/fonts/Cera Pro Medium.otf');
	font-display: block;



}


	