<section class="site-section">
	<div class="container">
		<div class="col-lg-8 offset-lg-2 col-sm-12">
			
			<p><img class="img-fluid" src="../assets/pages/arabe_adulte.svg" alt="Image placeholder"></p>
			
			<h3>Cours de Coran</h3>
			<p class="text-justify">Chaque musulman se doit de réciter le Coran correctement tout en observant les règles de la récitation (appelées règles de Tajwid). 
				Allah (SWT) s’est adressé à son messager Mohamed (paix et bénédictions soient sur lui) en disant : “… et récite le Coran avec une récitation mesurée.” (Saint Coran 25 :32)<br/>
				Notre formation de Coran s’adresse aux personnes qui désirent mémoriser le Coran entièrement ou en partie en respectant les règles de Tajwid.</p>
			 
			<h3>Objectifs</h3>
			<ul>
				<li>Mémoriser entièrement ou en parti le Saint Coran</li>
				<li>Corriger ses erreurs de prononciation</li>				
				<li>Améliorer sa lecture et acquérir une régularité dans l’apprentissage.</li>
				<li>Réviser ses acquis</li>
				<li>Connaitre les principales règles de Tajwid</li>			
			</ul>

			<h3>Modalités d’inscription</h3>
			<p class="mb-1 text-justify">L’inscription est déﬁnitive lorsque le dossier est complet :</p>
			<ul>
				<li>Avoir 7 ans et plus. (Cours pour enfants et adultes)</li>
				<li>Fiche d’inscription dUment remplie et signée (Cliquer sur ce lien)</li>				
				<li>Une photo d’identité récente de l’élève.</li>
				<li>2 enveloppes timbrées sans le libellé</li>
				<li>Une attestation d’assurance responsabilité civile</li>	
				<li>S’acquitter des frais de scolarité (possibilité de payement en trois fois)</li>	
				<li>Acheter les livres qui serviront à l’enseignement.</li>		
			</ul>
			
			<h3>Pré requis</h3>	
            <ul> 
				<li>Savoir lire et écrire l’arabe</li>
				<li>Une évaluation est prévue lors de l’inscription)</li>						
			</ul>			
			
			<h3>Créneaux horaires proposés</h3>
			<p>Chaque <strong>Samedi</strong> et <strong>dimanche</strong> de <strong>10h</strong> à <strong>12h</strong> ou de <strong>14h</strong> à <strong>16h</strong></p>

						
			<h3>Tarifs</h3>
			<p><strong>220 euros /an</strong> (Possibilité de payement en trois fois)</p>
			
			<h3>Comment dois-je m’inscrire</h3>
			<p class="text-justify">Votre décision est prise. Alors, dès aujourd’hui, remplissez la demande d’inscription (document à télécharger).<br/>
				Vous hésitez à prendre une décision. Rien de plus simple, Il vous sufﬁt juste de nous écrire ou de nous téléphoner pour avoir plus d’informations.
			</p>
			
		</div>
		<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-12 p-4">
			<a class="btn btn-success mx-auto d-block" data-target="#mymodal" data-toggle="modal">Je m'inscris</a>
		</div> 
	</div>


</section>