
<section>
  <div class="container">
<div class="row">
    <div class="col-lg-11 mx-auto">
      <div class="row py-5">
        
        <div class="col-lg-3 col-md-6">
          <figure class="rounded p-3 shadow-sm" >
            <img src="../assets/section1/qualité.jpg" alt="" class="img-fluid mx-auto d-block" >
            <figcaption class="p-4 card-img-bottom">
              <h2 class="h5 font-weight-bold mb-2 text-center">Qualité</h2>
              <p class="mb-0 text-small text-muted text-center">L'institut la vertu est une association muslmane</p>
            </figcaption>
          </figure>
        </div>
        
        <div class="col-lg-3 col-md-6">
          <figure class="rounded p-3 bg-white shadow-sm">
            <img src="../assets/section1/methode.jpg" alt="" class="img-fluid mx-auto d-block">
            <figcaption class="p-4 card-img-bottom">
              <h2 class="h5 font-weight-bold mb-2 text-center">Méthode</h2>
              <p class="mb-0 text-small text-muted  text-center">L'institut la vertu est une association muslmane</p>
            </figcaption>
          </figure>
        </div>
        
        <div class="col-lg-3 col-md-6">
          <figure class="rounded p-3 bg-white shadow-sm">
            <img src="../assets/section1/espace.jpg" alt="" class="img-fluid mx-auto d-block">
            <figcaption class="p-4 card-img-bottom">
              <h2 class="h5 font-weight-bold mb-2 text-center">Espace éducatif</h2>
              <p class="mb-0 text-small text-muted text-center">L'institut la vertu est une association muslmane</p>
            </figcaption>
          </figure>
        </div>
        
        <div class="col-lg-3 col-md-6">
            <figure class="rounded p-3 bg-white shadow-sm">
              <img src="../assets/section1/suivi.jpg" alt="" class="img-fluid mx-auto d-block">
              <figcaption class="p-4 card-img-bottom">
                <h2 class="h5 font-weight-bold mb-2 text-center">Suivi</h2>
                <p class="mb-0 text-small text-muted text-center">L'institut la vertu est une association muslmane</p>
              </figcaption>
            </figure>
        </div>
      
      </div>
    </div>
  </div>
</div>
</section>
