
<section class="site-section">
	<div class="container">
		<div class="col-lg-8 offset-lg-2 col-sm-12">
			
				

			<p><img class="img-fluid" src="../assets/pages/arabe_adulte.svg" alt="Image placeholder"></p>
			
			<h3>Qui sommes nous</h3>
			<p class="text-justify mb-2">L’institut LA VERTU est une association musulmane à but non lucratif créée en Janvier 2019 et basé à Nantes. C’est un institut spécialisé dans
				l’enseignement de la langue arabe littéraire, de la mémorisation et la récitation du Coran ainsi que des sciences islamiques.</p>
				<p class="text-justify mb-2"> L’objectif de l’institut LA VERTU est de vous aider dans la compréhension et la mémorisation du Coran et l’apprentissage de la langue arabe.</p>
				<p class="text-justify ">Notre principale préoccupation est la réussite et le bien-être de nos élèves. Nous sommes des professionnels de l’enseignement à la recherche du meilleur pour nos élèves.</p>
			 
				
			
		</div>
	</div>


</section>