
<section class="site-section">
	<div class="container">
		<div class="col-lg-8 offset-lg-2 col-sm-12">
			
			<p><img class="img-fluid" src="../assets/pages/arabe_adulte.svg" alt="Image placeholder"></p>
			
			<h3>Qui sommes nous</h3>
			<p>L’institut LA VERTU est une association musulmane à but non lucratif créée en Janvier 2019 et basé à Nantes. C’est un institut spécialisé dans
				l’enseignement de la langue arabe littéraire, de la mémorisation et la récitation du Coran ainsi que des sciences islamiques.<br/>
				L’objectif de l’institut LA VERTU est de vous aider dans la compréhension et la mémorisation du Coran et l’apprentissage de la langue arabe.<br/>
				Notre principale préoccupation est la réussite et le bien-être de nos élèves. Nous sommes des professionnels de l’enseignement à la recherche du meilleur pour nos élèves
			</p>
			 
			<h3>Nos engagements</h3>
			<ul>
				<li>Une équipe constituée de formateurs et de responsables pédagogiques qualiﬁés pour garantir une pédagogie innovante et un apprentissage optimal.</li>
				<li>Un enseignement de la langue arabe et de l’éducation musulmane adapté à tous public arabophone ou non, quel que soit l’âge et le niveau.</li>				
				<li>Un enseignement multi-support pour que l’apprenant progresse avec envie .</li>
				<li>Une diversité des activités culturelles autour de la langue arabe et l’éducation musulmane (Théâtre, Calligraphie, Poésie, Voyage…)</li>
				<li>Les papiers, encres et reliure répondent aux exigences environnementales. Supports utilisés et partenaires pédagogiques</li>
			</ul>

			
			<h3>Supports utilisés et partenaires pédagogiques</h3>	
			<p>En fonction de l’âge des apprenants, nous utilisons divers outils et supports pour rendre l’apprentissage ludique : des tableaux de bords interactifs, des vidéos d’apprentissage,
				applications sur tablettes, jeux éducatifs en arabe, activités manuelles de peintures et pâtes à modeler.<br/>
				Nous utilisons un programme adapté à l’âge et au niveau des élèves.
			</p>			


			<h3>L’équipe enseignante</h3>
			<ul>
				<li>Qualiﬁcation du personnel enseignant</li>
				<li>Expérience dans l’enseignement de la langue arabe en tant que langue étrangère</li>
				<li>Personne passionnée par le partage de la langue et la culture arabe</li>
			</ul>						
			
		</div>
	</div>


</section>