<section class="site-section">
	<div class="container">
		<div class="col-lg-8 offset-lg-2 col-sm-12">
			
			<p><img class="img-fluid" src="../assets/pages/arabe_adulte.svg" alt="Image placeholder"></p>
			
			<h3>Cours d’Islam</h3>
			<p class="text-justify">L’institut LA VERTU vous propose des cours d’études islamiques pour apprendre l’Islam aux adultes non arabophones.<br/>
			   Cette formation a pour but de permettre aux étudiants de trouver des réponses à leurs interrogations et de leur transmettre la méthodologie et les capacités d’analyse pour une bonne compréhension de l’islam et d’acquérir une connaissance approfondie et argumentée des différentes disciplines religieuses musulmanes
			</p>
			 
			<h3>Objectifs</h3>
			<ul>
				<li>Mémoriser entièrement ou en parti le Saint Coran</li>
				<li>Corriger ses erreurs de prononciation</li>				
				<li>Améliorer sa lecture et acquérir une régularité dans l’apprentissage.</li>
				<li>Réviser ses acquis</li>
				<li>Connaitre les principales règles de Tajwid</li>
				<li>Acheter les livres qui serviront à l’enseignement.</li>
			</ul>

			
			<h3>Programme</h3>	
			<p class="mb-1">Le programme s’articule autour de trois axes :</p>			
			<h6>La croyance</h6>
			<ul class="mb-4">
				<li>Le Créateur et les attributs divins Les Prophètes</li>
				<li>Les livres saints</li>				
				<li>Les Anges</li>
				<li>Le jour du jugement dernier Le destin et la prédestination</li>
			</ul>
			
			<h6>La jurisprudence des actes cultuels La prière</h6>
			<ul class="mb-4">
				<li>Le jeUne</li>
				<li>La zakat</li>				
				<li>Le pèlerinage</li>
			</ul>			

			<h6>Culture islamique générale</h6>
			<ul>
				<li>Introduction à la puriﬁcation de l’âme Introduction à la tradition prophétique </li>
				<li>Introduction aux fondements de la jurisprudence</li>				
			</ul>						
			
			<h3>Modalités d’inscription</h3>			
			<p class="mb-1 text-justify">L’inscription est déﬁnitive lorsque le dossier est complet :</p>
			<ul>
				<li>Avoir 14 ans et plus.</li>
				<li>Fiche d’inscription dUment remplie et signée</li>				
				<li>Une photo d’identité récente</li>
				<li>S’acquitter des frais de scolarité (possibilité de payement en trois fois)</li>
				<li>Acheter les livres qui serviront à l’enseignement.</li>
			
			</ul>
						
			<h3>Créneaux horaires proposés</h3>
			<p class="text-justify">3 heures par semaine, dispensés en français chaque samedi ou dimanche matin, de <strong>09h à 12h.</strong></p>
			
			<h3>Tarifs</h3>
			<p><strong>320 euros /an</strong> (Possibilité de payement en trois fois)</p>
			
			<h3>Comment dois-je m’inscrire</h3>
			<p class="text-justify">Votre décision est prise. Alors, dès aujourd’hui, remplissez la demande d’inscription (document à télécharger).<br/>
				Vous hésitez à prendre une décision. Rien de plus simple, Il vous sufﬁt juste de nous écrire ou de nous téléphoner pour avoir plus d’informations.
			</p>
			

			
		</div>
		<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-12 p-4">
			<a class="btn btn-success mx-auto d-block" data-target="#mymodal" data-toggle="modal">Je m'inscris</a>
		</div> 
	</div>


</section>