<section class="site-section">
        <div class="container">
            <div class="col-lg-8 offset-lg-2 col-sm-12">
                
                <p><img class="img-fluid" src="../assets/pages/arabe_adulte.svg" alt="Image placeholder"></p>
                
                <h3>Par chèque</h3>
                <p><strong>Ordre : </strong>EDUC POUR TOUS 44</p>
                 
                <h3>Par virement</h3>
                    <p class="mb-2">Crédit Mutuel</p>
                    <p class="mb-2"><strong>IBAN :  </strong>FR76 1027 8361 7600 0119 6820 187</p>			
                    <p><strong>BIC : </strong>CMC IFR 2A</p>		
                
                <h3>La réduction d'impôts sur vos dons</h3>
                <p class="mb-2">L’association a la possibilité de délivrer des reçus qui permettent aux donateurs
                    de bénéficier d’une réduction d’impôt.<br/>Vos dons vous permettent de bénéficier de cette réduction d’impôt sur le
                    revenu égale à 66 % de votre don, dans la limite de 20% du revenu fiscal de
                    référence (Article 200 du Code Général des Impôts). Le surplus est reportable
                    sur les cinq années suivantes.<br/>Par exemple, si vous choisissez de donner 1000 €, vous pourrez déduire 660 €
                    de votre impôt sur le revenu.<br/>Votre don ne vous coûtera en réalité que 330 €<br/>
                    Pour bénéficier de la réduction fiscale, rien de plus simple.</p>
                    <p class="mb-2">1. Je fais un don à LA VERTU avant le 31 décembre de chaque année pour
                        soutenir notre projet éducatif :</p>
                                        
                    <p class="mb-2">– Par chèque</p>
                    <p>– Par virement – Par PayPal.</p>
                       
    
                    <p class="mb-2">2. LA VERTU enregistre mon don.</p>
                    <p class="mb-2">3. Avant la période de déclaration fiscale et à ma demande, l’association me fait un reçu récapitulant l’ensemble des dons que j’ai réalisé sur l’année.</p>				
                    <p class="mb-2">4. Je déclare le montant total dans la case 7UF du formulaire de déclaration des revenus.</p>
                    
                <h3>Coordonnée bancaire : Crédit Mutuel</h3>	
                <p>Banque : 10278 Guichet : 36176 N° Compte : 00011968201 Clé : 87</p>
    
                
            </div>
    
        </div>
    
    
    </section>