
<!-- header part start -->
<header class="main_menu home_menu">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="#"> <img src="assets\logo\logo_nav.svg" alt="logo"> </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse main-menu-item justify-content-end"
                        id="navbarSupportedContent">
                        <ul class="navbar-nav align-items-center">
                            <li class="nav-item  ">
                                <a class="nav-link" routerLink="/accueil">Accueil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/qui-sommes-nous">Qui sommes nous</a>
                            </li>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" routerLink="/Cours d'arabe" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Cours d'arabe
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <a class="dropdown-item" routerLink="/langue-arabe-adulte">Langue arabe adulte</a>
                                  <a class="dropdown-item" routerLink="/langue-arabe-enfants">Langue arabe enfants</a>
                                  <a class="dropdown-item" routerLink="/Cours d'arabe/Item 3">Item 3</a>
                                  <a class="dropdown-item" routerLink="/Cours d'arabe/Item 4">Item 4</a>
                              </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/cours-de-coran">Cours de Coran</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/cours-islam">Cours d'islam</a>
                            </li>                           
                            <li class="nav-item">
                              <a class="btn btn-md btn-success" data-target="#mymodal" data-toggle="modal"  routerLink="/reg">S'inscrire</a>
                              <!-- <a class="btn_1" data-target="#mymodel" data-toggle="modal" routerLink="/login">S'inscrire</a> -->
                            </li>  
                        </ul>
                    </div>
                </nav>    
            </div>
        </div>
    </div>
  </header>
  <!-- Header part end -->