<section class="site-section">
	<div class="container">
		<div class="col-lg-8 offset-lg-2 col-sm-12">
			
			<p><img class="img-fluid" src="../assets/pages/arabe_adulte.svg" alt="Image placeholder"></p>
			
			<h3>Langue arabe adulte</h3>
			<p>L’institut LA VERTU, propose un enseignement de langue arabe pour les adultes permettant la maîtrise de l’arabe littéraire (écrit et oral).<br/>
				Le but est de faciliter la compréhension de la langue arabe et d’apporter une connaissance plus riche sur la civilisation arabo-musulmane.
			    La formation dure <strong>3 ans.</strong> </p>
			 
			<h3>Modalités d’inscription</h3>
			<ul>
				<li>Avoir 14 ans et plus.</li>
				<li>Fiche d’inscription dUment remplie et signée (Cliquer sur ce lien)</li>				
				<li>Une photo d’identité récente</li>
				<li>2 enveloppes timbrées sans le libellé</li>
				<li>S’acquitter des frais de scolarité (possibilité de payement en trois fois)</li>
				<li>Acheter les livres qui serviront à l’enseignement.</li>
			</ul>

			<h3>Pré requis</h3>
			<p>Une évaluation est prévue lors de l’inscription aﬁn de déﬁnir votre niveau</p>
			
			<h3>Les niveaux langue arabe adultes</h3>			
			<h6>Niveau 1 (débutant)</h6>
			<p class="mb-4">Ce niveau pour commencer à apprendre l’arabe permet d’apprendre l’écriture, la lecture et la reconnaissance auditive de l’ensemble des lettres arabes. 
			   A ce niveau, l’élève devient autonome dans sa lecture et son écriture des mots et phrases arabes cependant sans en comprendre le sens. 
			   C’est donc le premier stade pour commencer à apprendre l’arabe. A ce niveau, vous allez acquérir les bases essentielles en matière d’écriture, 
			   d’écoute et de prononciation aﬁn de ﬁnalement apprendre l’arabe littéraire.</p>
			
			<h6>Niveau 2 (intermédiaire)</h6>
			<p  class="mb-4">Continuité du niveau précédent. Lecture, écriture, grammaire, conjugaison, travail sur des dialogues et des textes simples et pratique de l’oral plus marquée.</p>
			
			<h6>Niveau 3 (perfectionnement)</h6>
			<p >Continuité des niveaux précédents. Expressions orale et écrite plus avancées, études de textes.</p>
			
			<h3>Créneaux horaires proposés</h3>
			<p>Chaque <strong>Samedi</strong> et <strong>dimanche</strong> de <strong>10h</strong> à <strong>12h</strong> ou de <strong>14h</strong> à <strong>16h</strong></p>
			
			<h3>Tarifs</h3>
			<p><strong>250 euros /an</strong> (Possibilité de payement en trois fois)</p>
			
			<h3>Comment dois-je m’inscrire</h3>
			<p>Votre décision est prise. Alors, dès aujourd’hui, remplissez la demande d’inscription (document à télécharger).<br/>
				Vous hésitez à prendre une décision. Rien de plus simple, Il vous sufﬁt juste de nous écrire ou de nous téléphoner pour avoir plus d’informations.
</p>
			
		</div>
		<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-12 p-4">
			<a class="btn btn-success mx-auto d-block" href="#" role="button">Je m'inscris</a>
		</div> 
	</div>


</section>