<!--carousel  
  -----------------------------------------------------------------------
 -->    
 <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class=" carousel-item active">
            <div class="container">
                <div class="carousel-caption text-left col-md-8 col-sm-10 col-xs-10">
                    <h2>Les inscriptions pour la rentrée 2020/2021</h2>
                    <h2>sont ouvertes et les places limitées</h2>
                    <p><a class="btn btn-md btn-success" href="#" role="button">S'inscrire</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="carousel-caption text-left col-md-8 col-sm-10 col-xs-10">
                    <h2>Les inscriptions pour la rentrée 2020/2021</h2>
                    <h2>sont ouvertes et les places limitées</h2>
                    <p><a class="btn btn-md btn-success" href="#" role="button">S'inscrire</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="carousel-caption text-left col-md-8 col-sm-10 col-xs-10">
                    <h2>Les inscriptions pour la rentrée 2020/2021</h2>
                    <h2>sont ouvertes et les places limitées</h2>
                    <p><a class="btn btn-md btn-success" href="#" role="button">S'inscrire</a></p>
                </div>
            </div>
        </div>             
    </div>

    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="fa fa-angle-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    </a>
	
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="fa fa-angle-right"></span>
    <span class="sr-only">Next</span>
    </a>
</div>
              
<!--About  
  -----------------------------------------------------------------------
 -->
 <section class="about-area " >
	<div class="container ">
        <div class="main_title">
            <h2>Qui sommes nous</h2>
        </div>
		<div class="row">  
			<div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12 wow fadeInLeft animated " data-wow-delay=".3s" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: fadeInDown;">
				<p> <img src="../assets/section/qui_somme_nous.svg" class="img-fluid"></p>
                <p class="wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 0.5s; animation-name: fadeInUp;">L'institut <span>la vertu</span> est une association muslmane à but non lucratif crée en  janvier 2019 et basé à Nantes. c'est un institut spécialisé dans  l'enseignement de la langue arabe litérarie, de la mémorisation et la récitation  du Coran anisi que des sciences islamiques </p>
			</div>
		</div>
	</div>
</section>
  
<!--  features area
  -----------------------------------------------------------------------
 -->
             
<section class="feature_area">
    <div class="container">       
        <div class="row feature_inner">    
		
            <div class="col-lg-3 col-md-6 mb-4">   
                <div class="feature_item wow fadeInLeft animated animated" data-wow-duration="500ms" data-wow-delay="0ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 0ms; animation-name: fadeInLeft;" >
                    <div class='imgs'><a href=''><img  class="img-fluid mx-auto d-block"   src="../assets/section/qualité.svg" ></a>
					</div>                           
                    <div class="content">
                            <h2 class="text-center">Qualité</h2>
                            <p class="text-center">L'institut la vertu est une association muslmane</p>
                    </div>
                </div> 
            </div>
             
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="feature_item wow fadeInLeft animated animated" data-wow-duration="500ms" data-wow-delay="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 500ms; animation-name: fadeInLeft;">
                    <div class='imgs'><a href=''><img class="img-fluid mx-auto d-block"  src="../assets/section/méthode.svg" ></a>
					</div>
                    <div class="content">
                            <h2 class="text-center">Méthode</h2>
                            <p class="text-center">L'institut la vertu est une association muslmane</p>
                    </div>
                </div>
            </div>
                            
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="feature_item wow fadeInLeft animated animated" data-wow-duration="500ms" data-wow-delay="700ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 700ms; animation-name: fadeInLeft;">
                    <div class='imgs'><a href=''><img class="img-fluid  mx-auto d-block"    src="../assets/section/espace.svg" ></a>
					</div>
                    <div class="content">
                            <h2 class="text-center">Espace éducatif</h2>
                            <p class=" text-center">L'institut la vertu est une association muslmane</p>
                    </div>
                </div>
            </div>
             
            <div class="col-lg-3 col-md-6 mb-4">   
                <div class="feature_item ">
                    <div class='imgs'><a href=''><img class="img-fluid  mx-auto d-block"   src="../assets/section/suivi.svg" ></a>
					</div>
                    <div class="content">
                            <h2 class="text-center">Suivi</h2>
                            <p class="text-center">L'institut la vertu est une association muslmane</p>
                    </div>
                </div>
            </div>
        </div>
    </div>                                 
</section>

 
<section class="gallery_area">
	<div class="container">
		<div class="main_title">
			<h2>Qui sommes nous</h2>
		</div>
		<div class="row" >
			<div class="col-lg-4 col-md-4 col-xs-6">
				<div class="h_gallery_item">
					
					<div class="img_item">
						<img class="img-fluid mx-auto" src="../assets/section/cours_arabe.svg">
					</div>
					
					<div class="item_text mx-auto d-b">
						<h5 class="text-center">Cours d'arabe</h5>
						<p>L'institut LA VERTU est une association muslmane à but non lucratif crée en</p>
					</div> 
					
					<div class="btn_2">
						<button class="btn btn-md btn-success mx-auto d-block" href="#" role="button">Voir plus</button>
					</div> 
			
				</div>
			</div>
    
			<div class="col-lg-4 col-md-4 col-xs-6">  
				<div class="h_gallery_item">
					
					<div class="img_item"> 
						<img class="img-fluid mx-auto" src="../assets/section/cours_coran.svg">
					</div>
					
					<div class="item_text">
						<h5 class="text-center">Cours de Coran</h5>
						<p >L'institut LA VERTU est une association muslmane à but non lucratif crée en</p>
					</div>
        
					<div class="btn_2">
						<button class="btn btn-md btn-success mx-auto d-block" href="#" role="button">Voir plus</button>
					</div> 
				
				</div>
			</div>
			
			<div class="col-lg-4 col-md-4 col-xs-6">
				<div class="h_gallery_item"> 
					
					<div class="img_item"> 
						<img class="img-fluid mx-auto" src="../assets/section/cours_islam.svg">
					</div>
					
					<div class="item_text">
						<h5 class="text-center">Cours d'islam</h5>
						<p >L'institut LA VERTU est une association muslmane à but non lucratif crée en</p>
					</div>
					
					<div class="btn_2">
						<button class="btn btn-md btn-success mx-auto d-block" href="#" role="button">Voir plus</button>
					</div>
					
				</div>
			</div>
		</div>
	</div>
 </section>

   
